/* write your override styles here */
#wall .tag-1 {
    display: block;
  }

  #wall #tag-2{
    display: block;
  }

  #wall #tag-3 {
    display: block;
  }

  #wall .parent #tag-4 { 
    display: block;
  }
  #wall .parent #tag-5 { 
    display: block;
  }
  #wall .parent > div:nth-child(2) #tag-6 { 
    display: block;
  }
  
  #wall .parent > div #tag-7 { 
    display: block;
  }
  


